body {
    margin: 0;
    font-family: 'Arial', sans-serif;
   font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f2f2f2;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-link {

    padding-left: 2rem;
    font-weight: bold;
  
}


.nevermissout {
    background:  url(../img/dxc-nmo.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    color: #fff;
    padding-top: 6rem;
}

.insightthatmatter {
    background: black;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    color: #fff;
    padding: 9rem 6rem;
}




.centerit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dxc-yellow {
  color: #ffed00;
}


.lolololo {
    border-radius: 50%;
    padding: 17px 18px 17px 18px;
     border: 3px solid #ffed00; 
    transition: all 0.6s;
    background: #ffed00;
}


.glospace {
	margin-top: 4rem;
	margin-bottom: 4em;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.01rem - 1px);
    border-top-right-radius: calc(0.01rem - 1px);
}

.card-body2 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: black;
    color: white;
}

.card-body3 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: white;
    color: black;
}

.card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.01rem;
}


.ch {
    min-height: 50px;
}

.dxc-footer {
	background: black;
	padding-top: 1.7rem !important;
	padding-bottom:1.7rem !important;

	color: white;
}

.fwc a {
    color: #D7D7D5;
    text-decoration: none;
    font-size: 80%;
    font-weight: 400;
}



.a {
  background: red;
}

.b {
  background: green;
}

.c {
  background: blue;
}


.vh-60 {
    height: 60vh !important;
}



.thrive {
	background: black;
	min-height: 15rem;
	color: white;
	padding: 4rem 3rem;
}


.btn-warning {
    color: #212529 !important;
    background-color: #ffed00;
    border-color: #ffc107;
    font-size: 12px;
    border-radius: 0.01rem;
    padding: 0.575rem 0.85rem;
    font-weight: 600;
    width: 8.5rem;
}


.btn-primary1 {
    color: #000;
    background-color: #ffF;
    border-color: #000;
    font-size: 12px;
    border-radius: 0.01rem;
    padding: 0.575rem 0.85rem;
    font-weight: 600;
}


.btn-primary1:hover {
    color: #000;
    background-color: #ffF;
    border-color: #000;
    font-size: 12px;
    border-radius: 0.01rem;
    padding: 0.575rem 0.85rem;
    font-weight: 600;
}

.btn-primary2 {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    font-size: 12px;
    border-radius: 0.01rem;
    padding: 0.575rem 0.85rem;
    font-weight: 600;
}

.btn-primary2:hover {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    font-size: 12px;
    border-radius: 0.01rem;
    padding: 0.575rem 0.85rem;
    font-weight: 600;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}


.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0);
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0);
}


.bismain {
	padding: 5rem 0;
	background: white;
}




.bline {
	padding: 3rem;
	border: 2px solid black;
}

.fa-2xrr {
    font-size: 1.3em !important;
}

.graybb {
    background: #1d1d1d;
    padding: 7px 15px;
}




.moveleft {
    margin-left: -2rem;
}


.backwhite {
	background: #fff;
}


.soca-ko {
    position: relative;
    height: 20rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.1px;
}

.soca-ko a {
    color: white;
    text-decoration: none;
}

.vasimg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}


.overlay-light-black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right,rgb(0, 0, 0), rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.56));
}
.text-contain {
    text-align: left;
    color: #fff;
    position: relative;
    padding-top: 7em;
}






